/* styles_admin.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3, h4 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

.product-checkbox {
    margin-bottom: 16px;
}

.product-checkbox input[type="checkbox"] {
    margin-right: 8px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.recipe-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
p{
    color: black;
}